// Цвета из Figma
$color-black-1: #0E0E10;
$color-black-2: #1B1B1F;
$color-white: #F1F4FD;
$color-grey-4: #55555C;
$color-accent-hover: #24C14E;
$color-accent-press: #168240;

// Отступы из Figma
$padding-16: 16px;
$gap-6: 6px;